<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Software Developer</h1>
            <span><address><a href="http://www.ideyatech.com" target="_blank">Ideyatech Inc, PH</a></address><time>2015 to Present</time></span>
        </header>
        <p>TODO Werk werk werk</p>
    </article>
    <article>
        <header>
            <h1>Associate Software Developer</h1>
            <span><address><a href="http://www.accenture.com" target="_blank">Accenture Inc, PH</a></address><time>2014 to 2015</time></span>
        </header>
        <p>TODO Werk werk werk</p>
    </article>
    <article>
        <header>
            <h1>(Intern) Application Developer</h1>
            <span><address>University of the Philippines, PH</address><time>2014 to 2014</time></span>
        </header>
        <p>TODO Werk werk werk</p>
    </article>
</section>
